**Segmenting and clustering - Neighborhoods in Toronto**

The present Notebook examines the week 3 Capstone Data project. For the sake of simplicity and better visibility the project is split into 3 separate files.
The present one is the 2 part of the assignment

In [1]:
import pandas as pd

In [3]:
#retrieve data from the first part
#download and manipulate the data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url,header=[0])
df = table[0]
df.head()

#clean and rename
df = df.rename(index=str, columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'})
df.head()

df = df[df.Borough !='Not assigned']
df.reset_index(drop=True,inplace=True)
df.head()

#group data
df = df.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df.head()

df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough']

Add the file with coordinates

In [4]:
df1 = pd.read_csv('http://cocl.us/Geospatial_data')
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Rename columns

In [6]:
df1.columns = ['PostalCode','Latitude','Longitude']
df1.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Compare files

In [7]:
print(df.shape[0])
print(df1.shape[0])

103
103

Merge tables

In [8]:
df_merge = pd.merge(left=df,right=df1,on='PostalCode')
df_merge.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside,Guildwood,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476